<div class="about-page">
  <div class="letters">
    <span *ngFor="let letter of letters">{{ letter }}</span>
  </div>
    <div class="content-container">
      <button class="close-button" (click)="closePage()"><i class="fa-solid fa-right-to-bracket"></i></button>
      <h2>ABOUT US</h2>
      <p>
        Girl, alam ko naman na sexy ka
        Maganda ka at kikay ka
        ‘Pag ikaw ay aking binira
        Girl, girl, lupaypay ka
        Alam ko naman na sexy ka
        Maganda ka at kikay ka
        ‘Pag ikaw ay aking binira
        Girl, girl, lupaypay ka
        
        Mainit ako, pera ang pamaypay
        Mainit ako, pera ang pamaypay
        ‘Pag binira-binira kita, girl
        Uuwi ka na lupaypay (Girl, girl, girl)
        Uuwi ka na lupaypay
      </p>
      <h3>DEVELOPERS:</h3>
      <ul>
        <li>Garcia, Louis Jae</li>
        <li>Limiac, Joshua Ezekiel</li>
        <li>Macam, Joshua Emmanuel</li>
        <li>Rabano, Rymbrent Maximillian</li>
      </ul>
    </div>
  </div>
  